body{
    margin: 0;
    box-sizing: border-box;
}

.heading , .heading2{
    font-family: 'Shizuru', cursive;
    
    
}

.div1{
    width: 50%;
    padding: 30px;
    /* background-color: rosybrown; */
}

.div2{
    width: 50%;
    padding-left: 10px;
}

#informaton{
    padding: 10px;
    margin: 20px 50px;
    text-align: justify;
}

.heading{
    font-size: 40px;
}
#r{
    color: #e20a64;
    font-weight: bolder;
    font-size: 3rem;
}



.div2 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 2px 6px 2px 2px grey ;
}

/* another font apply for this itam */

.continer h3{
    font-family: 'Raleway', sans-serif;
    
}
.continer{
    padding: 30px;
    display: flex;
}


.div1 a{
    background-image: linear-gradient(orange,yellow,rgb(0, 128, 122),rgb(255, 0, 157));
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
}

.continer{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: ;
}